{% extends "base.html" %}

{% block announce %}
On March 25st, 2025 v2 of Powertools for AWS Lambda (Python) <a
  href="https://github.com/aws-powertools/powertools-lambda-python/issues/5239" target="_blank">will reach
  End-of-Life</a>. We recommend you to <a href="https://docs.powertools.aws.dev/lambda/python/latest/upgrade/"
  target="_blank">upgrade to v3</a>.
{% endblock %}

{% block outdated %}
  You're not viewing the latest version.
  <a href="{{ '../' ~ base_url }}">
    <strong>Click here to go to latest.</strong>
  </a>
{% endblock %}
