[flake8]
exclude = docs, .eggs, setup.py, example, .aws-sam, .git, dist, *.md, *.yaml, example/samconfig.toml, *.txt, *.ini
ignore = E203, E266, W503, BLK100, W291, I004
max-line-length = 120
max-complexity = 15
; flake8-builtins isn't honouring inline ignore (A003)
per-file-ignores =
    tests/e2e/utils/data_builder/__init__.py:F401
    tests/e2e/utils/data_fetcher/__init__.py:F401
    aws_lambda_powertools/utilities/data_classes/s3_event.py:A003

[isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 120
