[tool.poetry]
name = "aws_lambda_powertools"
version = "1.10.3"
description = "Python utilities for AWS Lambda functions including but not limited to tracing, logging and custom metric"
authors = ["Amazon Web Services"]
include = ["aws_lambda_powertools/py.typed"]
classifiers=[
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
]
repository="https://github.com/awslabs/aws-lambda-powertools-python"
readme = "README.md"
keywords = ["aws_lambda_powertools", "aws", "tracing", "logging", "lambda", "powertools"]
license = "MIT-0"

[tool.poetry.dependencies]
python = "^3.6"
aws-xray-sdk = "^2.5.0"
fastjsonschema = "^2.14.5"
boto3 = "^1.12"
jmespath = "^0.10.0"
pydantic = {version = "^1.6.0", optional = true }
email-validator = {version = "*", optional = true }
typing_extensions = {version = "^3.7.4.2", optional = true, python= "<3.8" }

[tool.poetry.dev-dependencies]
coverage = {extras = ["toml"], version = "^5.0.3"}
pytest = "^5.2"
black = "^19.10b0"
flake8 = "^3.7.9"
flake8-black = "^0.1.1"
flake8-builtins = "^1.4.2"
flake8-comprehensions = "^3.2.2"
flake8-debugger = "^3.2.1"
flake8-fixme = "^1.1.1"
flake8-isort = "^2.8.0"
flake8-variables-names = "^0.0.3"
isort = "^4.3.21"
pytest-cov = "^2.8.1"
pytest-mock = "^2.0.0"
pdoc3 = "^0.7.5"
pytest-asyncio = "^0.12.0"
bandit = "^1.6.2"
radon = "^4.1.0"
xenon = "^0.7.0"
flake8-eradicate = "^0.3.0"
flake8-bugbear = "^20.1.4"
mkdocs-material = "^6.2.7"
mkdocs-git-revision-date-plugin = "^0.3.1"


[tool.poetry.extras]
pydantic = ["pydantic", "typing_extensions", "email-validator"]

[tool.coverage.run]
source = ["aws_lambda_powertools"]
omit = ["tests/*"]
branch = true

[tool.coverage.html]
directory = "test_report"
title = "Lambda Powertools Test Coverage"

[tool.coverage.report]
fail_under = 90
exclude_lines = [
    # Have to re-enable the standard pragma
    "pragma: no cover",

    # Don't complain about missing debug-only code:
    "def __repr__",
    "if self.debug",

    # Don't complain if tests don't hit defensive assertion code:
    "raise AssertionError",
    "raise NotImplementedError",

    # Don't complain if non-runnable code isn't run:
    "if 0:",
    "if __name__ == .__main__.:",
]

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 120
skip = "example"

[tool.black]
line-length = 120
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | example
)
'''

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

# NOTE
# As of now, Feb 2020, flake8 and pytest don't support pyproject
# For latest: https://github.com/flying-sheep/awesome-python-packaging
