.md-grid {
    max-width: 81vw
}

.highlight .hll {
    background-color: lavender
}

.md-typeset table:not([class]) {
    font-size: 0.75rem
}

.md-typeset a {
    border-bottom: 0.1px dashed black
}

.md-typeset table:not([class]) {
    font-size: 0.75rem
}

.md-nav__link--active {
    font-weight: bold
}

.md-typeset .admonition, .md-typeset details {
    font-size: 0.70rem
}
