[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
flake8-black = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-debugger = "*"
flake8-eradicate = "*"
flake8-fixme = "*"
flake8-isort = "*"
flake8-variables-names = "*"
isort = "*"
pre-commit = "*"
pytest = "==5.0.1"
pytest-cov = "*"
pytest-mock = "*"

[packages]
lambda-powertools = {editable = true,path = "."}

[pipenv]
allow_prereleases = true
