name: Run end-to-end tests

on:
  workflow_dispatch:

  push:
    branches: [develop]
    paths:
      - "aws_lambda_powertools/**"
      - "tests/e2e/**"
      - "pyproject.toml"
      - "poetry.lock"
      - "mypy.ini"
      - "parallel_run_e2e.py"

# Maintenance: Add support for triggering on `run-e2e` label
# and enforce repo origin to prevent abuse

env:
  AWS_DEFAULT_REGION: us-east-1

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # needed to request JWT with GitHub's OIDC Token endpoint. docs: https://bit.ly/3MNgQO9
      contents: read
    strategy:
      matrix:
        # Maintenance: disabled until we discover concurrency lock issue with multiple versions and tmp
        version: ["3.7", "3.8", "3.9"]
        # version: ["3.7"]
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - name: "Use Python"
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.version }}
          architecture: "x64"
          cache: "poetry"
      - name: Install dependencies
        run: make dev
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_TEST_ROLE_ARN }}
          aws-region: ${{ env.AWS_DEFAULT_REGION }}
      - name: Test
        run: make e2e-test
